/*========== General Section ==========*/
:root {
	--main-color: #ff841c;
	--body-text: #f0f0f0;
	--dark-background: #1a2c56;
	--black: #000000;
	--white: #ffffff;
	--transition: all 0.5s ease-in-out;
}

* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color: var(--black);
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

/*========== Setup & Re-usable Styling ==========*/
img {
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--main-color);
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
	outline: 0;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.6rem 0;
	line-height: 1.25;
	font-weight: 600;
	text-transform: capitalize;
}

.text {
	margin: 0.6rem 0;
	opacity: 0.8;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	padding: 6.5rem 0;
}

.title {
	padding: 0.6rem 0;
}

.title h2 {
	font-size: 3rem;
	color: var(--dark-background);
	font-weight: 500;
}

.title h3 {
	font-weight: 600;
	font-size: 1.25rem;
	color: #696969;
	text-transform: uppercase;
}

.title .text {
	font-weight: 400;
	font-size: 1.1rem;
}

.title-white h2 {
	font-size: 3rem;
	color: var(--body-text);
	font-weight: 500;
}

.title-white h3 {
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--body-text);
	text-transform: uppercase;
}

.title-white .text {
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 2rem;
	color: var(--white);
}

/*========== Header ==========*/
.header {
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem 0;
	width: 100%;
	z-index: 999;
}

@media screen and (max-width: 768px) {
	.navbar {
		background-color: var(--dark-background);
		color: var(--white);
	}
}

.brand-and-toggler {
	font-size: 1rem;
	padding: 0.8rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo {
	line-height: 0;
}

.header .logo img {
	max-width: 80%;
}

.header .logo span {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 3px;
	color: var(--main-color);
}

.navbar-brand {
	font-weight: 500;
	color: var(--dark-background);
}

.navbar-brand span {
	color: var(--main-color);
}

.navbar-toggler {
	padding: 0.5rem 1rem;
	background-color: var(--white);
	color: var(--main-color);
	border: none;
}

.navbar-toggler i {
	font-size: 1.5rem;
}

.navbar-menu {
	margin: 0.2rem 0 0.6rem 0;
}

.nav-item {
	padding: 0.6rem 0;
}

.nav-link {
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 1px;
	font-weight: 400;
	transition: var(--transition);
}

.nav-link:hover {
	color: var(--main-color) !important;
}

.navbar-collapse {
	display: none;
}

.hero {
	flex: 1;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.hero h4 {
	color: var(--main-color);
	font-size: 0.9rem;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

.hero h1 {
	font-size: 2.55rem;
	padding-bottom: 0.4rem;
}

.hero p {
	color: var(--body-text);
	font-size: 0.9rem;
}

/*========== Buttons ==========*/
.hero-btns {
	margin-top: 2.8rem;
}

.hero-btns button {
	color: var(--white);
	border: none;
	border-radius: 3px;
	padding: 1rem 2.25rem;
	text-transform: uppercase;
}

.btn-trans {
	color: #fff;
	transition: var(--transition);
	display: none;
}

.btn-trans:hover {
	background: var(--main-color);
	border-color: var(--main-color);
}

.btn-white {
	color: var(--white);
	border: 0;
	background-color: var(--main-color);
	border-radius: 3px;
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	transition: var(--transition);
}

.btn-white:hover {
	background: var(--white);
	color: var(--black);
}

/*========== Our Services ==========*/
.our-services {
	min-height: 80vh;
	color: #fff;
}

.our-services .service-box {
	background-color: var(--white);
	max-width: 75%;
	margin: 0 auto;
	padding: 2rem 3rem;
}

.our-services .featured-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.our-services {
		background-image: url(/assets/BACKGROUND/OUR-SERVICE-RIGHT-BG.png);
	}

	.our-services .service-box {
		max-width: 90%;
	}

	.our-services .featured-section {
		display: block;
	}
}

.feature .row {
	display: flex;
}

.feature-left img {
	width: 80%;
	margin: 0 auto;
}

.feature-right {
	margin-top: 4rem;
}

.feature-item {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-right: 2.5rem;
	display: flex;
}

.feature-item div h3 {
	margin-top: 0;
	color: var(--dark-background);
	font-size: 1.5rem;
	font-weight: 600a;
}

.feature-item div p {
	color: var(--black);
	font-weight: 400;
}

.feature-item span {
	font-size: 2rem;
	color: var(--main-color);
	align-self: flex-start;
	padding: 0.4rem 0.7rem;
	border-radius: 2px;
	margin-right: 1.4rem;
}

/*========== Work ==========*/
.work .row {
	margin-top: 2rem;
}

.work-item {
	margin: 2rem 0 1rem;
}

.work-img {
	position: relative;
	margin: 0 2rem;
}

.work-info {
	text-align: center;
	padding: 2rem 2rem 1rem;
	line-height: 1;
}

.work-info h3 {
	font-size: 1.4rem;
	color: var(--dark-background);
}

.work-info span {
	font-size: 1rem;
	font-weight: 500;
	opacity: 0.7;
}

.work-info p {
	margin-top: 1rem;
	color: var(--black);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
}

/*========== Work Details ==========*/
.work-details {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 75vh;
}

/*========== Vision & Mission ==========*/
.vision-mission .row {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: -15rem;
}

@media screen and (max-width: 768px) {
	.vision-mission .row {
		display: block;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: -10rem;
	}
}

.vision-mission .vision-box {
	background-size: auto;
	background-position: right;
	background-repeat: no-repeat;
	background-color: var(--body-text);
	padding: 2.5rem 5rem;
	width: 100%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
	.vision-mission .vision-box {
		padding: 2.5rem 1rem;
	}
}

.vision-mission .vision-box img {
	width: 50px;
	height: auto;
}

.vision-mission .vision-box .vision-details {
	padding: 1rem 2.5rem;
}

.vision-details h3 {
	color: var(--dark-background);
	font-size: 1.5rem;
	font-weight: 600;
}

.vision-mission .mission-box {
	background-color: var(--white);
	padding: 2.5rem 5rem;
	width: 100%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
	.vision-mission .mission-box {
		padding: 2.5rem 1rem;
	}
}

.vision-mission .mission-box .mission-details {
	padding: 1rem 2.5rem;
}

.vision-mission .mission-box img {
	width: 50px;
	height: auto;
}

.vision-mission .mission-box .mission-details {
	padding: 1rem 2.5rem;
}

.mission-details h3 {
	color: var(--dark-background);
	font-size: 1.5rem;
	font-weight: 600;
}

/*========== Team ==========*/
.team .row {
	margin-top: 2rem;
}

.team-item {
	margin: 2rem 0;
}

.team-img {
	position: relative;
	margin: 0 2rem;
}

.team-icons {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	background: var(--body-text);
	opacity: 0;
	transition: var(--transition);
}

.team-icons a {
	color: var(--dark-background);
	width: 50px;
	height: 50px;
	transition: var(--transition);
}

.team-icons a:hover {
	background: var(--main-color);
	color: #fff;
}

.team-img:hover .team-icons {
	opacity: 1;
}

.team-info {
	text-align: center;
	padding: 2rem;
	line-height: 1;
}

.team-info h3 {
	font-size: 1.4rem;
	color: var(--dark-background);
}

.team-info span {
	font-size: 1rem;
	font-weight: 500;
	opacity: 0.7;
}

.team-info p {
	margin-top: 1rem;
	color: var(--black);
	font-size: 1rem;
	font-weight: 400;
	line-height: 2rem;
}

/*========== Testimonial ==========*/
.testimonial .row {
	margin-top: 2rem;
}

.testimonial-item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonial-img {
	border-radius: 50%;
	border: 20px solid #eaeaea;
	width: 500px;
	margin-right: 50px;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.testimonial-item {
		flex: 1;
		flex-direction: column;
	}

	.testimonial-img {
		width: 250px;
		height: auto;
		margin: 0 auto;
	}

	.testimonial-item .testimonial-img i {
		left: 250px;
		top: 50px;
	}
}

.testimonial-item .testimonial-img i {
	position: absolute;
	height: 48px;
	width: 48px;
	padding: 12px;
	background-color: #ededed;
	border-radius: 50%;
	color: #ff841c;
	font-size: 24px;
	text-align: center;
	left: 275px;
	top: 50px;
	overflow: hidden;
}

@media screen and (max-width: 992px) {
	.testimonial-item .testimonial-img i {
		left: 170px;
		top: 50px;
	}
}

/*========== Call to Action ==========*/
.cta {
	min-height: 30vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cta .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.cta .row {
		display: block;
		text-align: center;
	}
}

/*========== Counts ==========*/
.counts {
	background-repeat: no-repeat;
}

.counts .counters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.counts {
		background-size: cover;
		background-repeat: no-repeat;
	}

	.counts .counters {
		display: block;
	}

	.counts .count-section {
		margin: 5rem 0 !important;
	}
}

.counts .count-section img {
	width: 3rem;
	height: auto;
}

.counts .counters span {
	font-size: 3.5rem;
	display: block;
	color: var(--main-color);
	font-weight: 600;
	font-family: "Poppins", sans-serif;
}

.counts .counters p {
	padding: 0;
	margin: 0 0 2rem 0;
	font-size: 1.2rem;
	color: var(--white);
}


/*========== Contact ==========*/
.contact {
	background-color: #fafafa;
}

.contact-left form input,
.contact-left form textarea {
	width: 100%;
	font-size: 1.1rem;
	margin: 0.8rem 0;
	padding: 1rem 0.6rem;
	border: 1.5px solid #e0e0e0;
	border-radius: 2px;
	outline: 0;
}

.contact-left form input::placeholder,
.contact-left form textarea::placeholder {
	font-size: 1.1rem;
	font-weight: 300;
}

.contact-left form input:focus,
.contact-left form textarea:focus {
	border-color: var(--dark-background);
}

.submit-btn {
	color: var(--white);
	background-color: var(--main-color);
	border: none;
	border-radius: 3px;
	padding: 1rem 2.25rem;
	text-transform: uppercase;
}

.submit-btn:hover {
	background: var(--dark-background);
	transition: all 0.5s ease-in-out;
}

.contact-right div {
	margin: 2rem 0;
}

.contact-right h3 {
	color: var(--dark-background);
	font-size: 1rem;
	font-weight: 600;
}

.contact-right .social-links {
	display: flex;
	color: var(--main-color);
}

.contact-right .social-links .social-icon i {
	font-size: 1.5rem;
	color: var(--main-color);
	margin-right: 2rem;
}

/*========== Footer ==========*/
.footer {
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--body-text);
	padding: 2rem 0 1.5rem;
	min-height: 50vh;
}

.footer .logo {
	line-height: 0;
}

.footer .logo img {
	max-width: 22%;
}

@media screen and (max-width: 768px) {
	.footer .logo img {
	max-width: 40%;
	}
}

.footer-links .menu-list {
	margin: 1rem 0;
}

.footer-links .menu-list li {
	display: inline-block;
	margin: 1rem 0;
}

.footer-links .menu-list a {
	color: var(--body-text);
	opacity: 0.8;
	margin: 0 1.5rem;
	transition: var(--transition);
}

.footer-links .menu-list a:hover {
	color: var(--main-color);
}

.footer .copyright .text a {
	color: var(--main-color);
	font-weight: 600;
}


/*========== Media Queries ==========*/

/*========== For Mobile Devices ==========*/
@media screen and (min-width: 768px) {
	.navbar {
		background: var(--dark-background);
	}

	.detail .row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.detail-item {
		margin: 0;
	}

	.work-item {
		margin: 0;
	}

	.video h2 {
		font-size: 2.6rem;
	}

	.video p {
		font-size: 1.2rem;
		width: 75%;
		margin: 0 auto;
	}

	.team-item {
		margin: 0;
	}

	.faq .row {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.pricing .row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.pricing-item {
		margin: 0;
	}

	.contact .row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}

	.contact-right>div:first-child {
		margin-top: 0;
	}
}

/*========== For Tablet Devices ==========*/
@media screen and (min-width: 992px) {
	.navbar {
		background: transparent;
		margin-top: 1.4rem;
	}

	.navbar .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.navbar-brand {
		color: var(--body-text);
		font-size: 2rem;
	}

	.navbar-toggler {
		display: none;
	}

	.navbar-collapse {
		display: block !important;
		padding: 2rem auto;
	}

	.navbar-menu {
		display: flex;
		margin: 0;
	}

	.nav-item {
		margin-left: 1.8rem;
	}

	.nav-link {
		color: var(--body-text);
	}

	.hero h1 {
		font-size: 3.8rem;
	}

	.btn-trans {
		display: inline-block;
		margin-right: 0.8rem;
	}

	/*========== Navbar Change ==========*/
	.change-navbar {
		margin-top: 0;
		background: var(--dark-background);
	}

	.change-navbar .navbar-brand {
		color: var(--white);
	}

	.change-navbar .nav-link {
		color: var(--white);
	}

	.feature .row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		column-gap: 2rem;
	}

	.feature-right {
		margin-top: 0;
	}
}

/*========== For Laptop & Desktop Devices ==========*/
@media screen and (min-width: 1200px) {
	.hero h1 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.detail .row {
		grid-template-columns: repeat(3, 1fr);
	}

	.pricing .row {
		grid-template-columns: repeat(3, 1fr);
	}

	.contact .row {
		column-gap: 2rem;
	}

	.contact-right {
		padding-left: 2rem;
	}
}